// Header:
$header-color: #1D1929;
$header-color-active: #B2A35F;

// Main:
$background-primary: #F5F4FF;
$title-color: #B4387A;
$black-primary: #000000;
$black-secondary: #1C1C1E;
$black-tertiary: #0B132A;

$light-black-primary: #2D3748;
$light-black-secondary: #4F5665;
$light-black-tertiary: #3D3D3D;
$light-black-quaternary: #7B7454;

$grey-primary: #808080;
$grey-secondary: #9092B0;
$grey-tertiary: #DEDDE6;
$grey-quaternary: #D9D9D9;
$grey-quinary: #88B3B899;

$blue-primary: #003CFF;
$blue-primary-hover: #7796C0;
$blue-secondary: #686DF1;
$blue-secondary-hover: #595ddd;
$blue-tertiary: #7F92ACB2;
$blue-quaternary: #5B35D5;

$orange-primary: #EB801D;
$orange-secondary: #F9F5E3;
$orange-tertiary: #E1DED0;

$red-primary: #FF0000;
$red-secondary: #FF5631;

$white-primary: #FFFFFF;
$white-secondary: #EAECEE;
$white-tertiary: #E2E8F0;

// Footer:
$footer-bacgkround: #E7E7E7;