// Header:
$header-color: #1D1929;
$header-color-active: #B2A35F;

// Main:
$background-primary: #F5F4FF;
$title-color: #B4387A;
$black-primary: #000000;
$black-secondary: #1C1C1E;
$black-tertiary: #0B132A;

$light-black-primary: #2D3748;
$light-black-secondary: #4F5665;

$grey-primary: #808080;
$grey-secondary: #9092B0;

$blue-primary: #003CFF;
$blue-primary-hover: #0033db;
$blue-secondary: #686DF1;
$blue-secondary-hover: #595ddd;

$orange-primary: #EB801D;

$white-primary: #FFFFFF;

// Footer:
$footer-bacgkround: #E7E7E7;